*.log
*.phar
*.lock

uploads
limesurvey
vendor
build
package-lock.json
error_log

*.gz
*.cache
/cache
.git-rewrite

_ide_helper_models.php
*.old
*.bak
*.backup

public_html/vendor
public_html/js
public_html/css
public_html/storage
public_html/error_log
public_html/chart

laravel/*.lock
laravel/lang/vendor/
laravel/database/migrations
laravel/resources/views/vendor
laravel/composer.lock
laravel/package-lock.json
laravel/error_log
laravel/.phpstorm.meta.php
laravel/_ide_helper.php
laravel/error_log
laravel/public
laravel/resources/lang/vendor/
laravel/composer.lock



vendor/
public_html/css/
public_html/js/
public_html/vendor/
public_html/vendor/*
laravel/bootstrap/cache/*
public_html/vendor/
public_html/js/
laravel/stubs
laravel/resources/lang/vendor/
laravel/resources/views/vendor/
public_html/vendor/
.git-rewrite/
public_html/css
public_html/js
vendor
public_html/css/
public_html/js/
public_html/js/
public_html/css/
*:Zone.Identifier
.env
laravel/database/migrations/
logs
bashscripts/
laravel/
public_html/
.env.docker
.env.latest
node_modules/

# PHPStan output files
phpstan*.json
_docs/
